<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    
    <add name="SedapExpressEntities" connectionString="metadata=res://*/SedapExpress.csdl|res://*/SedapExpress.ssdl|res://*/SedapExpress.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql7003.site4now.net;initial catalog=DB_A42C6B_sedapexpress;user id=DB_A42C6B_sedapexpress_admin;password=pass12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
    <webHttpBinding>
        <binding name="myBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" transferMode="Streamed">
            <readerQuotas maxDepth="64" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
    </webHttpBinding>
</bindings>
    <services>
      <service name="BamycServiceAjax.Customer">
        <endpoint address="" behaviorConfiguration="BamycServiceAjax.CustomerAspNetAjaxBehavior" binding="webHttpBinding" contract="BamycServiceAjax.Customer" />
      </service>
      <service name="BamycServiceAjax.Location">
        <endpoint address="" behaviorConfiguration="BamycServiceAjax.LocationAspNetAjaxBehavior" binding="webHttpBinding" contract="BamycServiceAjax.Location" />
      </service>
      <service name="BamycServiceAjax.Category">
        <endpoint address="" behaviorConfiguration="BamycServiceAjax.CategoryAspNetAjaxBehavior" binding="webHttpBinding" contract="BamycServiceAjax.Category" />
      </service>
      <service name="BamycServiceAjax.Product">
        <endpoint address="" behaviorConfiguration="BamycServiceAjax.ProductAspNetAjaxBehavior" binding="webHttpBinding" contract="BamycServiceAjax.Product" />
      </service>
      <service name="BamycServiceAjax.Address">
        <endpoint address="" behaviorConfiguration="BamycServiceAjax.AddressAspNetAjaxBehavior" binding="webHttpBinding" contract="BamycServiceAjax.Address" />
      </service>
      <service name="BamycServiceAjax.Order">
        <endpoint address="" behaviorConfiguration="BamycServiceAjax.OrderAspNetAjaxBehavior" binding="webHttpBinding" contract="BamycServiceAjax.Order" />
      </service>
      <service name="BamycServiceAjax.ShoppingCart">
        <endpoint address="" behaviorConfiguration="BamycServiceAjax.ShoppingCartAspNetAjaxBehavior" binding="webHttpBinding" contract="BamycServiceAjax.ShoppingCart" />
      </service>
      <service name="BamycServiceAjax.Wishlist">
        <endpoint address="" behaviorConfiguration="BamycServiceAjax.WishlistAspNetAjaxBehavior" binding="webHttpBinding" contract="BamycServiceAjax.Wishlist" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="BamycServiceAjax.CustomerAspNetAjaxBehavior">
          <enableWebScript />
        <dataContractSerializer maxItemsInObjectGraph="2147483647" />
            
            <dispatcherSynchronization asynchronousSendEnabled="true" />
        </behavior>
        <behavior name="BamycServiceAjax.LocationAspNetAjaxBehavior">
          <enableWebScript />
        <dataContractSerializer maxItemsInObjectGraph="2147483647" />
            
            <dispatcherSynchronization asynchronousSendEnabled="true" />
        </behavior>
        <behavior name="BamycServiceAjax.CategoryAspNetAjaxBehavior">
          <enableWebScript />
        <dataContractSerializer maxItemsInObjectGraph="2147483647" />
            
            <dispatcherSynchronization asynchronousSendEnabled="true" />
        </behavior>
        <behavior name="BamycServiceAjax.ProductAspNetAjaxBehavior">
          <enableWebScript />
        <dataContractSerializer maxItemsInObjectGraph="2147483647" />
            
            <dispatcherSynchronization asynchronousSendEnabled="true" />
        </behavior>
        <behavior name="BamycServiceAjax.AddressAspNetAjaxBehavior">
          <enableWebScript />
        <dataContractSerializer maxItemsInObjectGraph="2147483647" />
            
            <dispatcherSynchronization asynchronousSendEnabled="true" />
        </behavior>
        <behavior name="BamycServiceAjax.OrderAspNetAjaxBehavior">
          <enableWebScript />
        <dataContractSerializer maxItemsInObjectGraph="2147483647" />
           
            <dispatcherSynchronization asynchronousSendEnabled="true" />
        </behavior>
        <behavior name="BamycServiceAjax.ShoppingCartAspNetAjaxBehavior">
          <enableWebScript />
        <dataContractSerializer maxItemsInObjectGraph="2147483647" />
            
            <dispatcherSynchronization asynchronousSendEnabled="true" />
        </behavior>
        <behavior name="BamycServiceAjax.WishlistAspNetAjaxBehavior">
          <enableWebScript />
        <dataContractSerializer maxItemsInObjectGraph="2147483647" />
            
            <dispatcherSynchronization asynchronousSendEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
              <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>